<div class="bg-grey-lighter relative">
  <div class="fixed bg-yellow font-bold rounded pin-t pin-r py-6 pl-6 shadow-lg">
    <div class="flex">
      <div>
        <p>Shopping cart&nbsp; 🛒</p>
        <p>You have {{this.addedItems.length}} items</p>
      </div>
      <div class="pl-3 pr-3">
        <AnimatedContainer>
          <div class="flex mt-2">
            {{#animated-value recentlyAddedItem use=transition duration=600 as |item|}}
              {{#if item}}
                <div class="rounded bg-white shadow flex items-center justify-center" data-animation-id={{item}}>
                  <p class="px-2 py-1 whitespace-no-wrap">
                    Item {{item}}
                  </p>
                </div>
              {{/if}}
            {{/animated-value}}
          </div>
        </AnimatedContainer>
      </div>
    </div>
  </div>

  <section class='pt-24 max-w-lg mx-auto flex flex-wrap'>
    {{#each items as |index i|}}

      <div class="w-1/3 flex-no-shrink px-2 mb-8" {{fade-up delay=(mult i 60)}}>
        <AnimatedBeacon @name={{concat 'cart-' index}}>
          <div onclick={{action 'addItem' index}}
            class="h-32 bg-white shadow hover:shadow-lg cursor-pointer transition flex items-center justify-center"
          >
            <p class="text-lg">Item {{index}}</p>
          </div>
        </AnimatedBeacon>
      </div>

    {{/each}}
  </section>
</div>
