{{animated-orphans}}

<div class="h-screen flex flex-col">
  <div class="h-full flex">
    <div class="border-r flex flex-col">
      <ol class='sticky pin-t list-reset'>
        {{#each (array
          (hash model='1-css-only' title='CSS Only' subtitle='')
          (hash model='2-modifier-reuse' title='Staggered article' subtitle='Reuse with modifiers')
          (hash model='3-conditional' title='Conditional' subtitle='Animated If')
          (hash model='4-expandable-card' title='Expandable card' subtitle='Animated Container')
          (hash model='5-fading-text' title='Fading text' subtitle='Custom transition, part 1')
          (hash model='6-sortable-list' title='Sortable list' subtitle='Custom transition, part 2')
          (hash model='7-tag-selector' title='Tag selector' subtitle='Custom transition, part 3')
          (hash model='8-shifted-boxes' title='Shifted boxes' subtitle='Sprite methods')
          (hash model='9-inbox' title='Inbox' subtitle='Beacons')
          (hash model='shopping-cart' title='Shopping cart' subtitle='')
          (hash model='medium-image' title='Medium image' subtitle='')
        ) as |route index|}}
          <li class='relative'>
            {{#link-to 'show' route.model class='no-underline py-4 pl-6 pr-8 text-grey-darkest inline-block w-full relative z-10 whitespace-no-wrap'}}
              <div class="flex">
                <span class='pr-2'>{{add index 1}}.</span>
                <div>
                  <p>{{route.title}}</p>
                  <p class='text-sm text-grey-dark'>{{route.subtitle}}</p>
                </div>
              </div>
            {{/link-to}}

            {{#animated-if (is-active 'show' route.model) use=activeNavTransition group='nav' duration=250}}
              <div class='absolute w-full pin-t pin-b flex'>
                <div class="w-2 bg-blue"></div>
                <div class="w-full bg-grey-lighter"></div>
              </div>
            {{/animated-if}}

          </li>
        {{/each}}
      </ol>

      <button class='mt-auto p-4 focus:outline-none' {{action 'toggleControls'}}>
        Controls
      </button>
    </div>

    <main class='w-full overflow-scroll'>
      {{outlet}}
    </main>
  </div>

  <AnimatedContainer>
    {{#animated-if isShowingTools use=transition duration=250}}
      <div class="z-50 bg-grey-darkest text-white w-full shadow-inner">
        <div class="flex">
          <div class="w-256 mx-auto">
            <TimeControl />
          </div>
        </div>
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
